<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Data</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<style>#newPostBtn {
  margin: 20px 0;
  background-color: #2ecc71;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#newPostBtn:hover {
  background-color: #27ae60;
}
</style>

<body>
  <div class="container">
    <h1>
      <%= heading %>
    </h1>

    <% if (locals.post) { %>
      <form id="editForm" method="post" action="/api/posts/<%=post.id%>">
        <input type="text" name="phone" value="<%=post.bloodbankphone %>">
        <input type="tel" name="bloodbankname" value="<%=post.bloodbankname %>">
        <!-- <textarea id="content" rows="10"><%=post.content %></textarea> -->
        <input type="text" name="a_pos" value="<%=post.a_pos %>">
        <input type="text" name="a_neg" value="<%=post.a_neg %>">
        <input type="text" name="b_pos" value="<%=post.b_pos %>">
        <input type="text" name="b_neg" value="<%=post.b_neg %>">
        <input type="text" name="ab_pos" value="<%=post.ab_pos %>">
        <input type="text" name="ab_neg" value="<%=post.ab_neg%>">
        <input type="text" name="o_pos" value="<%=post.o_pos%>">
        <input type="text" name="o_neg" value="<%=post.o_neg%>">
        <button class="full-width" type="submit">
          <%= submit %>
        </button>
      </form>
      <% } else {%>
        <form id="newPostForm" method="post" action="/api/posts">
          <input type="text" name="bloodbankname" placeholder="BloodBank Name" required>
          <input type="tel" name="bloodbankphone" placeholder="BloodBank Contact Number" required>
          <input type="number" name="a_pos" placeholder="Enter Quantity of A+ blood available" required>
          <input type="number" name="a_neg" placeholder="Enter Quantity of A- blood available" required>
          <input type="number" name="b_pos" placeholder="Enter Quantity of B+ blood available" required>
          <input type="number" name="b_neg" placeholder="Enter Quantity of B- blood available" required>
          <input type="number" name="ab_pos" placeholder="Enter Quantity of AB+ blood available" required>
          <input type="number" name="ab_neg" placeholder="Enter Quantity of AB- blood available" required>
          <input type="number" name="o_pos" placeholder="Enter Quantity of O+ blood available" required>
          <input type="number" name="o_neg" placeholder="Enter Quantity of O- blood available" required>
          <input type="text" name="author" placeholder="Contact Info" required>
          <button class="full-width" type="submit">
            <%= submit %>
          </button>
        </form>
        <% } %>

  </div>
</body>

</html>