<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div>
      <% posts.forEach(post=> { %>
        <h1>Blood Bank Name : <%= post.bloodbankname %></h1>
        <h2>Contact number: <%= post.bloodbankphone %></h2>
    <table class="table container">
        <thead>
          <tr>
            <th scope="col">Blood Group</th>
            <th scope="col">A positive</th>
            <th scope="col">A negative</th>
            <th scope="col">B positive</th>
            <th scope="col">B negative</th>
            <th scope="col">AB positive</th>
            <th scope="col">AB negative</th>
            <th scope="col">O positive</th>
            <th scope="col">O negative</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Quantity (in units)</th>
            <td><%=post.a_pos %></td>
            <td><%=post.a_neg %></td>
            <td><%=post.b_pos %></td>
            <td><%=post.b_neg %></td>
            <td><%=post.ab_pos %></td>
            <td><%=post.ab_neg%></td>
            <td><%=post.o_pos%></td>
            <td><%=post.o_neg%></td>
          </tr>
        </tbody>
      </table>
      <% }); %>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>