<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <style>
      body{
        font-family: "poppins",sans-serif;
        background-image: url("https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg?w=996&t=st=1710478916~exp=1710479516~hmac=05f4001f9adbc2e13b016eaf1cf48f6602846639507c40bf2a6e9c62be9bc1db");
        background-size: cover;
        background-attachment: fixed;
      }
      
      .table-contain{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      h1,h2{
        margin: 1rem;
      }
  </style>
</head>

<body>
    <div class="table-contain">
      <% posts.forEach(post=> { %>
        <h1 style="text-align: center;">Blood Bank Name : <%= post.bloodbankname %></h1>
        <h2 style="text-align: center; ">Contact number: <%= post.bloodbankphone %></h2>
    <table class="table container table-danger  table-bordered table-hover table-responsive">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Blood Group</th>
            <th scope="col">A positive</th>
            <th scope="col">A negative</th>
            <th scope="col">B positive</th>
            <th scope="col">B negative</th>
            <th scope="col">AB positive</th>
            <th scope="col">AB negative</th>
            <th scope="col">O positive</th>
            <th scope="col">O negative</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Quantity (in units)</th>
            <td><%=post.a_pos %></td>
            <td><%=post.a_neg %></td>
            <td><%=post.b_pos %></td>
            <td><%=post.b_neg %></td>
            <td><%=post.ab_pos %></td>
            <td><%=post.ab_neg%></td>
            <td><%=post.o_pos%></td>
            <td><%=post.o_neg%></td>
          </tr>
        </tbody>
      </table>
      <% }); %>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>